<div id="<%= dom_id article %>" class="col">
<div class="card border-primary">
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= article.body.to_s.truncate(160) %></p>
      <%= link_to "Read Full Article", article, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>
