<h1><%= title 'Edit Article' %></h1>
<% description 'Edit news article.' %>
<% keywords 'Edit, Article, News' %>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Cancel", :back, class: 'btn btn-outline-secondary' %>
</div>
