<% if current_user %>
  <h2>Authorized User Actions</h2>
  <div class="d-grid gap-1 mb-4">
    <%= link_to "Create New Page", new_page_path, class: 'btn btn-outline-primary' %>
    <%= link_to "Create New Article", new_article_path, class: 'btn btn-outline-primary' %>
  </div>
<% end %>

<h2><%= title 'Newsfeed' %></h2>
<% description 'News articles about Ottawa Food Rescue, and from around the community!' %>
<% keywords 'news, articles, ottawa food rescue, ottawa, food rescue, community' %>
<p>News articles about Ottawa Food Rescue, and from around the community!</p>

<div id="articles">
  <div class="row row-cols-1 row-cols-md-4 g-2">
    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>
  </div>
</div>
