<h1><%= title 'New Article' %></h1>
<% description 'New news article.' %>
<% keywords 'New, Article, News' %>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Cancel", :back, class: 'btn btn-secondary' %>
</div>

