<footer class="pt-5 my-5 border-top">
    <div class="container">
        Ottawa Food Rescue
        <div class="text-muted">
            Addressing food insecurity by working with donors, volunteers, and local charities to ensure vulnerable individuals and families have access to quality food.
        </div>
    </div>
</footer>
