<footer class="pt-5 my-5 border-top border-dark">
    <div class="container">
        Ottawa Food Rescue
        <div class="text-muted">
            Addressing food insecurity by working with donors, volunteers, and local charities to ensure vulnerable individuals and families have access to quality food.
        </div>

        <div class="container text-center border-top mt-4 pt-2">
            <div class="row align-items-start">
                <div class="col">
                    <%= link_to 'Back to Top', '#top' %>
                </div>

                <div class="col">
                    <%= link_to 'Status', 'https://status.hbuptime.com/rkPS0M', target: "_blank" %>
                </div>

                <div class="col">
                    <%= link_to 'Open Source (View Our Source Code)', 'https://github.com/CountryRoadsTech/oms', target: "_blank" %>
                </div>
            </div>
        </div>
    </div>
</footer>
