<div id="<%= dom_id page %>" class="col">
  <div class="card border-dark">
    <div class="card-body">
      <h5 class="card-title"><%= page.title %></h5>
      <p class="card-text"><%= page.subtitle ? page.subtitle : page.body.to_s.truncate(160) %></p>
      <%= link_to "Read Page", page, class: 'btn btn-outline-primary' %>
    </div>
  </div>
</div>