<h1><%= title 'Edit Page' %></h1>
<% description 'Edit news article.' %>
<% keywords 'Edit, Article, News' %>

<%= render "form", page: @page %>

<br>

<div>
  <%= link_to "Cancel", :back, class: 'btn btn-secondary' %>
</div>
